// general
.block {
  background-color: white;
}

// banner
.blog-banner {
  height: 40vh;
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-position: bottom center;
}

.blog-banner .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.blog-banner h1 {
  width: 100%;
  margin: 0;
  position: relative;
  top: 40px;
}

// blog

.blog-main {
  background-color: $tint;
}

.blog-main .wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  @include tablet-mode-lan {
    flex-direction: column;
    justify-content: space-between;
  }
}

.blog-main .blog-feature {
  flex: 1.2;
  @include tablet-mode-lan {
    flex: 1;
    margin-bottom: 5%;
  }
}

.blog-main .blog-post {
  flex: 2;
  @include tablet-mode-lan {
    flex: 1;
  }
}

//left
.blog-main .blog-feature .wrapper {
  padding: 0 5% 0 0;
  display: flex;
  flex-direction: column;
  @include tablet-mode-lan {
    padding: 0;
  }

  .feature-recent {
    padding: $blog;
    @include tablet-mode-lan {
      display: flex;
      flex-direction: column;
    }
    h3 {
      width: 100%;
      text-align: center;
      margin-bottom: 5%;
      @include tablet-mode-por {
        text-align: left;
      }
    }
    ul {
      @include tablet-mode-lan {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      li {
        list-style-type: disc;
        @include tablet-mode-lan {
          width: 45%;
          margin-bottom: 2%;
          padding-left: 2%;
        }
        @include tablet-mode-por {
          width: 100%;
        }
        div {
          padding-left: 2%;
          @include fonts("Cabin", 20px, normal, normal, 32px);
          @include tablet-mode-por {
            text-align: left;
          }
        }
      }
    }
  }

  .feature-about {
    display: flex;
    flex-direction: column;
    padding: $blog;
    margin-bottom: 5%;
    .about-photo {
      @include tablet-mode-lan {
        padding: 10%;
        background-color: $background-light;
      }
      img {
        @include tablet-mode-lan {
          border: 10px solid $tint;
        }
      }
    }
    .about-content {
      padding-top: 5%;
      a {
        color: $background-medium;
      }
    }
  }
}

//right
.blog-main .blog-post .wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  .post-content {
    padding: $blog;
    margin-bottom: 5%;
    border-bottom: 5px solid $background-dark;
  }
  .post-comments {
    ul li {
      padding: $blog;
      margin-bottom: 2%;
      display: flex;
      @include mobile-mode-lan {
        flex-direction: column;
      }
    }
    ul li:nth-of-type(2) {
      border-bottom: 5px solid $background-dark;
    }
  }
}

.blog-post .post-comments ul li {
  .comments-photo {
    flex: 1;
    @include tablet-mode-por {
      flex: 1;
      flex-basis: 90px;
    }
    @include mobile-mode-lan {
      padding: 20%;
      background-color: $background-light;
      margin-bottom: 5%;
    }
    img {
      @include mobile-mode-lan {
         border: 10px solid $tint;
      }
    }
  }
  .comments-content {
    flex: 6;
    padding-left: 2%;
    @include tablet-mode-por {
      flex: 3;
    }
    p {
      margin-top: 0;
      text-align: left;
      @include tablet-mode-por {
        width: 100%;
        padding-left: 4%;
      }
      @include mobile-mode-lan {
        padding-left: 0;
      }
    }
  }
}

.blog-post .post-form {
  margin-top: 2%;
  .form-names {
    display: flex;
    margin-bottom: 2.5%;
    height: 50px;
    .name,
    .email {
      width: 50%;
      input {
        width: 100%;
        height: 100%;
        padding-left: 2%;
      }
    }
    .name {
      padding-right: 2.5%;
    }
  }
  .form-comment {
    width: 100%;
    height: 200px;
    textarea {
      width: 100%;
      height: 100%;
      resize: none;
    }
  }
  .form-button {
    margin-top: 2%;
    width: 100%;
    button {
      width: 100%;
    }
  }
}
