.contact-banner {
  height: 40vh;
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-position: bottom center;
}

.contact-banner .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contact-banner h1 {
  width: 100%;
  margin: 0;
  position: relative;
  top: 40px;
  span {
    @include mobile-mode-por {
      display: none;
    }
  }
}

.contact-media {
  background-color: $tint;
}

.contact-media .wrapper {
  width: 100%;
  min-height: 52vh;
  padding-top: 80px;
  padding-bottom: 5%;
  display: flex;
  @include tablet-mode-lan {
    flex-direction: column;
  }
  .info-wrapper {
    flex: 1.1;
    height: 500px;
    flex-basis: 100px;
    @include tablet-mode-lan {
      flex: 1;
      margin-bottom: 2%;
    }
    .contact-info {
      margin-right: $blog;
      padding: $blog;
      @include tablet-mode-lan {
        margin-right: 0;
        border-bottom: 5px solid $background-dark;
      }
      .info-content {
        h3,
        p {
          @include tablet-mode-lan {
            text-align: center;
          }
        }
      }
      .info-icons ul {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 3%;
        @include tablet-mode-lan {
          justify-content: center;
        }
        li {
          padding-right: 15%;
          @include tablet-mode-lan {
            padding: 3%;
          }
          a {
            i {
              color: $background-dark;
            }
          }
        }
      }
    }
  }
}
.contact-form {
  flex: 2;
  height: 500px;
  @include tablet-mode-lan {
    flex: 1;
    width: 100%;
  }
  .page-form {
    height: 500px;
    padding-top: 0;
    margin-top: 0;
    form {
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .form-names {
        flex: 1;

        @include mobile-mode-lan {
          flex-direction: column;
          height: 100px;
        }
        .name {
          @include mobile-mode-lan {
            width: 100%;
            height: 50px;
            margin-bottom: 2%;
            padding-right: 0;
          }
        }
        .email {
          @include mobile-mode-lan {
            width: 100%;
            height: 50px;
          }
        }
      }
      .form-comment {
        flex: 3;
      }
      .form-button {
        flex: 1;
      }
    }
  }
}
