.banner {
  background-color: $background-light;
  @include tablet-mode-por {
    border-bottom: 100px solid $background-light;
  }
}

.banner .banner-title {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 35px;
  @include tablet-mode-por {
    flex-direction: column;
    width: 100%;
  }
}

// Photo
.title-photo {
  width: 40%;
  flex-basis: 400px;
  padding: 0;
  margin: 0;
  box-shadow: 15px 15px white;
  @include tablet-mode-lan {
  }
  @include tablet-mode-por {
    width: 100%;
    box-shadow: none;
    border: 15px solid white;
  }
  img {
    @include tablet-mode-por {
    }
  }
}

// Logo

.banner .title-logo {
  width: 60%;
  padding: 0;
  margin: 0;
  display: flex;
  transition: transform 1s;
  position: absolute;
  top: 25%;
  left: calc(400px + 8%);

  @include tablet-mode-por {
    width: 100%;
    position: absolute;
    top: 80%;
    bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    left: 5%;
  }
  @include mobile-mode-lan {
    transform: scale(0.7);
  }
  @include mobile-mode-por {
    transform: scale(0.6);
    margin-left: 0;
  }
  @include mobile-mode-xs {
    transform: scale(0.4);
  }
}

.title-name {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
  h1 {
    font-size: 120px;
    transition: font-size 1s;
    @include tablet-mode-lan {
      font-size: 100px;
    }
  }
}

.title-graphic {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 500;
  position: relative;
  top: -32px;
  left: -20px;
  transition: width 1s;
  @include tablet-mode-lan {
    width: 120px;
    left: -65px;
  }
  img {
    transition: transform 1s;

    &:hover {
      transform: rotate(360deg);
    }
  }
}
