.details {
  background-color: none;
}

.details-travel {
  display: flex;
  margin-bottom: 60px;
  .details-photo {
    flex: 2.5;
    order: -1;
  }
  .details-content {
    flex: 2;
    padding: 10% 0 0 10%;
  }
}

.details-favorite {
  display: flex;
  margin-bottom: 0px;
  .details-photo {
     flex: 2.5;
  }
  .details-content {
    flex: 2;
    padding: 0 10% 10% 0;
  }
}
