.details-background {
  height: 100px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.details .wrapper {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  @include tablet-mode-por {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
  }
  article {
    width: 50%;
    height: auto;
    @include tablet-mode-por {
      width: 100%;
    }
    p,
    h3,
    .content-button {
      text-align: center;
      display: flex;
      justify-content: center;
    }
    p {
      padding: 0 20% 5%;
    }
  }
  aside {
    width: 50%;
    height: auto;
    @include tablet-mode-por {
      width: 100%;
    }
    img {
      position: relative;
      z-index: 20;
    }
  }
  .spacer {
    width: 100%;
    height: 100px;
    @include tablet-mode-por {
      display: none;
    }
  }
}

.details .photo-container {
  position: relative;
  @include tablet-mode-por {
    width: 100%;
    padding: 0;
  }
  img {
    @include tablet-mode-por {
      border: 8px solid white;
    }
  }
}

.details .travel-photo,
.details .favorite-photo {
  @include tablet-mode-por {
    padding: 0 20px 0 0;
  }
}

.travel-photo .photo-border {
  background-color: $background-medium;
  height: 100%;
  width: 300%;
  z-index: 10;
  position: absolute;
  bottom: -20px;
  right: -20px;
  @include tablet-mode-por {
    background-color: $background-light;
    height: 120%;
    bottom: -50px;
    right: -100px;
  }
}

.details .travel-content {
  padding: 100px 0 0 100px;
  transition: padding 1s;
  @include tablet-mode-lan {
    padding: 50px 0 0 50px;
  }
  @include tablet-mode-por {
    padding: 100px 0;
    position: relative;
    z-index: 30;
  }
}

.favorite-photo .photo-border {
  background-color: $background-light;
  height: 100%;
  width: 300%;
  z-index: 10;
  position: absolute;
  top: 20px;
  left: 20px;
  @include tablet-mode-por {
    height: 120%;
    top: -50px;
    left: -100px;
  }
}

.details .favorite-content {
  padding: 0 100px 100px 0;
  transition: padding 1s;
  @include tablet-mode-lan {
    padding: 0 50px 50px 0;
  }
  @include tablet-mode-por {
    width: 100%;
    padding: 100px 0;
    position: relative;
    z-index: 30;
  }
}

.details .favorite-photo {
  order: 1;
  @include tablet-mode-por {
    order: unset;
  }
}
