
.highlight {
    height: 50vh;
    background: url(../assets/home-image-2.jpg) $background-medium;
    background-size: cover;  
    background-repeat: none; 
    @include tablet-mode-por {
        // background-size: fill;
        background-position: center;
    }
}