
// styles
@mixin oswald(
    $font-size, 
    $font-weight: normal, 
    $letter-spacing: normal, 
    $line-height: normal) {
        font-family: 'Oswald', sans-serif;
        color: $font-text;
        font-size: $font-size;
        font-weight: $font-weight;
        letter-spacing: $letter-spacing;
        line-height: $line-height;   
}


// media queries
@mixin tablet-mode-lan {
    @media (max-width: 1030px) {
        @content;
    }
}

@mixin tablet-mode-por {
    @media (max-width: 960px) {
        @content;
    }

}

@mixin mobile-mode-lan {
    @media (max-width: 680px) {
        @content;
    }    
}

@mixin mobile-mode-por {
    @media (max-width: 480px) {
        @content;
    }    
}

@mixin mobile-mode-xs {
    @media (max-width: 420px) {
        @content;
    }    
}




