// colours
$accent: #F38D8D; // Accent
$background-dark: #227284; // Dusk blue
$background-medium: #68B0C1; // Greyblue
$background-light: #B9DDE7; // Light blue grey
$tint: #F6F6F6; // White shade
$font-text: #504646; // Black

//padding
$wrapper: 0 7%;
$button: 5px 20px;


