// tools and settings
@import url("https://fonts.googleapis.com/css?family=Cabin|Oswald&display=swap");
@import "variables";
@import "setup";
@import "mixins";
// divisions
@import "domains/header";
@import "domains/main/banner";
@import "domains/main/intro";
@import "domains/main/highlight";
@import "domains/main/links";
@import "domains/main/details";
@import "domains/main/journey";
@import "domains/main/gallery";
@import "domains/footer";
@import "domains/pages/blog";

// font-family: 'Cabin', sans-serif;

// font-family: 'Oswald', sans-serif;

body {
  // width: 100vw;
  overflow-x: hidden;
}

// typography
html {
  font-size: 62.5%;
  color: $font-text;
  margin: 0;
  padding: 0;
  
}

// all images
img {
  width: 100%;
  max-width: 100%;
  display: block;
  transition: transform 1s, border 1s;
  &:hover {
    transform: scale(1.2);  
  }
}

// all paragraphs
p {
  @include fonts('Cabin', 20px, normal, normal, 32px);
  color: $font-text;
}
// al inputs etc

input,
textarea {
  text-decoration: none;
  border: none;
  padding: 1% 2%;  
  @include fonts('Cabin', 20px, normal, normal, 32px);

}

// all buttons
button {
  text-decoration: none;
  border: none;
  background-color: $accent;
  padding: $button;
  display: block;
  @include fonts('Oswald', 20px, bold, 1px, 32px);
  transition: color 1s;
  &:hover {
    color: $tint;
  }
}

// all unordered lists
ul {
  padding: 0;
  margin: 0;
}

// all list items
li {
  list-style-type: none;
  @include mobile-mode-lan {
    text-align: center;
  }
}

a {
  text-decoration: none;
  @include fonts('Oswald', 20px, bold, 1px, 29px);
}

i {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  @include fonts('Oswald', 80px, bold, 1px, 92px);
  padding: 0;
  margin: 0;
}

h2 {
  @include fonts('Oswald', 42px, bold, 1px, normal);
  padding: 0;
  margin: 0;
}

h3 {
   @include fonts('Oswald', 32px, bold, 1px, normal);
   padding: 0;
   margin: 0;
}

// all wrapper classes
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: $wrapper;
  @include tablet-mode-por {
    padding: 0 5%;
  }
}
