@import url("https://fonts.googleapis.com/css?family=Cabin|Oswald&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: none;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

header {
  background-color: #B9DDE7;
  height: auto;
  padding: 10px 0;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper .bars {
  text-align: center;
  display: none;
  height: auto;
  width: 100%;
}

@media (max-width: 480px) {
  header .wrapper .bars {
    display: block;
    margin: 4% 0;
  }
}

header .wrapper .bars:hover {
  color: #F6F6F6;
  text-shadow: 2px 2px #504646;
}

header input[type="checkbox"]:checked ~ label {
  color: #F6F6F6;
  text-shadow: 2px 2px #504646;
}

header input[type="checkbox"]:checked ~ li {
  visibility: visible;
  margin-left: 0;
  position: static;
}

#bar {
  opacity: 0;
  position: absolute;
}

nav {
  margin-top: 5px;
  width: 100%;
}

nav ul {
  margin: 0 auto;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 970px) {
  nav ul {
    width: 100%;
  }
}

@media (max-width: 680px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 480px) {
  nav ul {
    border-bottom: 1px solid #504646;
  }
}

nav ul li:not(.harper):not(.bars) {
  padding: 5px 20px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

nav ul li:not(.harper):not(.bars):hover:not(.selected) {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  text-shadow: 2px 2px #F6F6F6;
}

nav ul li:not(.harper):not(.bars) a:not(.selected) {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  padding: 5px;
}

nav ul li:not(.harper):not(.bars) a:not(.selected):focus {
  text-shadow: 2px 2px #F6F6F6;
  outline: 2px double #867676;
  -webkit-box-shadow: 3px 3px #F6F6F6;
          box-shadow: 3px 3px #F6F6F6;
}

nav ul li:not(.harper):not(.bars) a:not(.selected):active {
  outline: none;
}

nav ul li.selected a {
  color: #F6F6F6;
}

@media (max-width: 680px) {
  header nav ul li {
    font-size: 35px;
  }
}

nav ul li:nth-child(5) {
  padding: 5px 20px;
  font-family: "Oswald", sans serif;
  color: #504646;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 29px;
}

@media (max-width: 680px) {
  nav ul li:nth-child(5) {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    border-bottom: 1px double #504646;
    margin-bottom: 2px;
    padding-bottom: 10px;
  }
}

@media (max-width: 680px) {
  nav ul li:nth-child(3) {
    border-top: 1px double #504646;
  }
}

@media (max-width: 480px) {
  nav ul li:not(.harper) {
    visibility: hidden;
    position: absolute;
    margin-left: -1000px;
  }
}

.banner {
  background-color: #B9DDE7;
}

@media (max-width: 970px) {
  .banner {
    border-bottom: 100px solid #B9DDE7;
  }
}

.banner .banner-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 35px;
}

@media (max-width: 970px) {
  .banner .banner-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.title-photo {
  width: 40%;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 15px 15px white;
          box-shadow: 15px 15px white;
}

@media (max-width: 970px) {
  .title-photo {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 15px solid white;
  }
}

.banner .title-logo {
  width: 60%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  position: absolute;
  top: 25%;
  left: calc(400px + 8%);
}

@media (max-width: 970px) {
  .banner .title-logo {
    width: 100%;
    position: absolute;
    top: 80%;
    bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    left: 5%;
  }
}

@media (max-width: 680px) {
  .banner .title-logo {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 480px) {
  .banner .title-logo {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    margin-left: 0;
  }
}

.title-name {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
}

.title-name h1 {
  font-size: 120px;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
}

@media (max-width: 1050px) {
  .title-name h1 {
    font-size: 100px;
  }
}

.title-graphic {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 500;
  position: relative;
  top: -32px;
  left: -20px;
  -webkit-transition: width 1s;
  transition: width 1s;
}

@media (max-width: 1050px) {
  .title-graphic {
    width: 120px;
    left: -65px;
  }
}

@media (max-width: 470px) {
  .title-graphic {
    left: -55px;
  }
}

.title-graphic img {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.title-graphic img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.intro {
  height: 400px;
  background-color: #F6F6F6;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 970px) {
  .intro {
    padding: 0;
  }
}

.intro .wrapper {
  height: 100%;
}

@media (max-width: 970px) {
  .intro .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.intro-content {
  height: 100%;
  margin-left: calc(400px + 8%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 970px) {
  .intro-content {
    margin: 0;
    padding: 10%;
  }
}

@media (max-width: 970px) {
  .intro-content h3,
  .intro-content p {
    text-align: center;
  }
}

@media (max-width: 970px) {
  .intro-content .intro-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.highlight {
  height: 50vh;
  background: url(../assets/home-image-2.jpg) #68B0C1;
  background-size: cover;
  background-repeat: none;
}

@media (max-width: 970px) {
  .highlight {
    background-position: center;
    height: 40vh;
  }
}

.links {
  background-color: #F6F6F6;
  height: auto;
}

.links .wrapper {
  height: 100%;
  padding-top: 70px;
  padding-bottom: 60px;
}

@media (max-width: 680px) {
  .links .wrapper {
    padding-bottom: 100px;
  }
}

.links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0;
}

.links ul li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1050px) {
  .links ul li {
    margin: 0 0 5% 0;
  }
}

@media (max-width: 970px) {
  .links ul li {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: none;
        flex-wrap: none;
    margin: 0 0 10% 0;
  }
}

@media (max-width: 680px) {
  .links ul li {
    margin: 0 0 10% 0;
  }
}

.link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 970px) {
  .link-icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.link-content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5%;
}

@media (max-width: 970px) {
  .link-content {
    padding-left: 0;
  }
}

.link-content h3 {
  padding: 2% 0 2%;
}

@media (max-width: 970px) {
  .link-content h3 {
    text-align: center;
  }
}

.link-content p {
  margin: 0;
  height: auto;
}

@media (max-width: 1050px) {
  .link-content p {
    padding: 0 5%;
  }
}

.links .link-icon i {
  width: 100%;
  border: 15px solid #B9DDE7;
  border-radius: 50%;
  background-color: #B9DDE7;
  padding: 0;
}

@media (max-width: 970px) {
  .links .link-icon i {
    width: unset;
  }
}

.links ul li:nth-of-type(1),
.links ul li:nth-of-type(2) {
  padding-bottom: 5%;
}

@media (max-width: 970px) {
  .links ul li:nth-of-type(1),
  .links ul li:nth-of-type(2) {
    padding-bottom: 0;
  }
}

.links ul li:nth-of-type(2),
.links ul li:nth-of-type(4) {
  padding-left: 5%;
}

@media (max-width: 970px) {
  .links ul li:nth-of-type(2),
  .links ul li:nth-of-type(4) {
    padding-left: 0;
  }
}

.details {
  margin-top: -20px;
}

.details-background {
  height: 100px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
}

@media (max-width: 970px) {
  .details .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
}

.details .wrapper article {
  width: 50%;
  height: auto;
}

@media (max-width: 970px) {
  .details .wrapper article {
    width: 100%;
  }
}

@media (max-width: 970px) {
  .details .wrapper article p,
  .details .wrapper article h3,
  .details .wrapper article .content-button {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 970px) {
  .details .wrapper article p {
    padding: 0 20% 5%;
  }
}

.details .wrapper aside {
  width: 50%;
  height: auto;
}

@media (max-width: 970px) {
  .details .wrapper aside {
    width: 100%;
  }
}

.details .wrapper aside img {
  position: relative;
  z-index: 20;
}

@media (max-width: 970px) {
  .details .wrapper aside img {
    border: 8px solid white;
  }
}

.details .wrapper .spacer {
  width: 100%;
  height: 100px;
}

@media (max-width: 1050px) {
  .details .wrapper .spacer {
    height: 50px;
  }
}

@media (max-width: 970px) {
  .details .wrapper .spacer {
    display: none;
  }
}

.details .photo-container {
  position: relative;
}

@media (max-width: 970px) {
  .details .photo-container {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 970px) {
  .details .travel-photo,
  .details .favorite-photo {
    padding: 0;
  }
}

.travel-photo .photo-border {
  background-color: #68B0C1;
  height: 100%;
  width: 300%;
  z-index: 10;
  position: absolute;
  bottom: -20px;
  right: -20px;
  -webkit-transition: height 1s;
  transition: height 1s;
}

@media (max-width: 970px) {
  .travel-photo .photo-border {
    background-color: #B9DDE7;
    height: 120%;
    bottom: -50px;
    right: -100px;
  }
}

@media (max-width: 680px) {
  .travel-photo .photo-border {
    top: -40px;
    height: 60%;
  }
}

.details .travel-content {
  padding: 100px 0 0 100px;
  -webkit-transition: padding 1s;
  transition: padding 1s;
}

@media (max-width: 1050px) {
  .details .travel-content {
    padding: 50px 0 0 50px;
  }
}

@media (max-width: 970px) {
  .details .travel-content {
    padding: 100px 0;
    position: relative;
    z-index: 30;
  }
}

@media (max-width: 680px) {
  .details .travel-content {
    padding: 50px 0 100px 0;
  }
}

.favorite-photo .photo-border {
  background-color: #B9DDE7;
  height: 100%;
  width: 300%;
  z-index: 10;
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-transition: height 1s;
  transition: height 1s;
}

@media (max-width: 970px) {
  .favorite-photo .photo-border {
    height: 120%;
    top: -50px;
    left: -100px;
  }
}

@media (max-width: 680px) {
  .favorite-photo .photo-border {
    top: -40px;
    height: 60%;
  }
}

.details .favorite-content {
  padding: 0 100px 30px 0;
  -webkit-transition: padding 1s;
  transition: padding 1s;
}

@media (max-width: 1050px) {
  .details .favorite-content {
    padding: 0 50px 20px 0;
  }
}

@media (max-width: 970px) {
  .details .favorite-content {
    width: 100%;
    padding: 100px 0;
    position: relative;
    z-index: 30;
  }
}

@media (max-width: 680px) {
  .details .favorite-content {
    padding: 50px 0 100px 0;
  }
}

.details .favorite-photo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 970px) {
  .details .favorite-photo {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}

.journey {
  background-color: #F6F6F6;
}

@media (max-width: 970px) {
  .journey {
    background-color: #227284;
  }
}

.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 970px) {
  .journey .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    padding-bottom: 0;
  }
}

.journey-photo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  height: 100%;
  background-color: #227284;
  -webkit-box-shadow: 10px 10px #227284;
          box-shadow: 10px 10px #227284;
  -webkit-transition: padding 1s;
  transition: padding 1s;
}

@media (max-width: 970px) {
  .journey-photo {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 10% 20%;
  }
}

@media (max-width: 480px) {
  .journey-photo {
    padding: 5% 5%;
  }
}

@media (max-width: 970px) {
  .journey-photo img {
    border: 10px solid #F6F6F6;
  }
}

.journey-content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 0 0 0 5%;
}

@media (max-width: 970px) {
  .journey-content {
    padding: 5% 0;
    position: relative;
    z-index: 20;
  }
}

@media (max-width: 480px) {
  .journey-content {
    padding: 20% 0;
  }
}

@media (max-width: 970px) {
  .journey-content h2,
  .journey-content p,
  .journey-content .journey-button {
    padding: 2% 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 30;
  }
}

@media (max-width: 970px) {
  .journey-content p {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 470px) {
  .journey-content h2 {
    font-size: 40px;
  }
}

@media (max-width: 970px) {
  .journey-content .mobile-line {
    height: 5px;
    width: 100%;
    position: relative;
    z-index: 20;
    border-top: 1px solid #504646;
    border-bottom: 1px solid #504646;
  }
}

.content-border {
  -webkit-transition: width 1s, height 10s ease-in;
  transition: width 1s, height 10s ease-in;
}

@media (max-width: 970px) {
  .content-border {
    height: 100%;
    width: 150%;
    background-color: #F6F6F6;
    position: absolute;
    bottom: 0;
    left: -50px;
    z-index: 10;
  }
}

@media (max-width: 480px) {
  .content-border {
    top: 20px;
  }
}

.gallery .wrapper {
  padding-top: 4%;
  padding-bottom: 10%;
}

.gallery .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: margin 1s, padding 1s;
  transition: margin 1s, padding 1s;
}

@media (max-width: 970px) {
  .gallery .wrapper ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #B9DDE7;
  }
}

.gallery .wrapper ul li {
  margin: 0 2% 0 2%;
}

@media (max-width: 970px) {
  .gallery .wrapper ul li {
    margin: 0;
    padding: 5% 10%;
  }
  .gallery .wrapper ul li img {
    border: 10px solid #F6F6F6;
  }
}

.gallery ul li:nth-last-of-type(3) {
  margin: 0 4% 0 0;
}

@media (max-width: 970px) {
  .gallery ul li:nth-last-of-type(3) {
    margin: 0;
    padding: 10% 10% 5% 10%;
  }
}

.gallery ul li:nth-last-of-type(1) {
  margin: 0 0 0 4%;
}

@media (max-width: 970px) {
  .gallery ul li:nth-last-of-type(1) {
    margin: 0;
    padding: 5% 10% 10% 10%;
  }
}

footer {
  background-color: #504646;
  height: 40px;
}

footer p {
  color: #F6F6F6;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.block {
  background-color: white;
}

.blog-banner {
  height: 40vh;
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-position: bottom center;
}

.blog-banner .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blog-banner h1 {
  width: 100%;
  margin: 0;
  position: relative;
  top: 40px;
}

.blog-main {
  background-color: #F6F6F6;
}

.blog-main .wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1050px) {
  .blog-main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.blog-main .blog-feature {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
}

@media (max-width: 1050px) {
  .blog-main .blog-feature {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 5%;
  }
}

.blog-main .blog-post {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media (max-width: 1050px) {
  .blog-main .blog-post {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.blog-main .blog-feature .wrapper {
  padding: 0 5% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1050px) {
  .blog-main .blog-feature .wrapper {
    padding: 0;
  }
}

.blog-main .blog-feature .wrapper .feature-recent {
  padding: 30px;
}

@media (max-width: 1050px) {
  .blog-main .blog-feature .wrapper .feature-recent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog-main .blog-feature .wrapper .feature-recent h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}

@media (max-width: 970px) {
  .blog-main .blog-feature .wrapper .feature-recent h3 {
    text-align: left;
  }
}

@media (max-width: 1050px) {
  .blog-main .blog-feature .wrapper .feature-recent ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.blog-main .blog-feature .wrapper .feature-recent ul li {
  list-style-type: disc;
}

@media (max-width: 1050px) {
  .blog-main .blog-feature .wrapper .feature-recent ul li {
    width: 45%;
    margin-bottom: 2%;
    padding-left: 2%;
  }
}

@media (max-width: 970px) {
  .blog-main .blog-feature .wrapper .feature-recent ul li {
    width: 100%;
  }
}

.blog-main .blog-feature .wrapper .feature-recent ul li div {
  padding-left: 2%;
  font-family: "Cabin", sans serif;
  color: #504646;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 32px;
}

@media (max-width: 970px) {
  .blog-main .blog-feature .wrapper .feature-recent ul li div {
    text-align: left;
  }
}

.blog-main .blog-feature .wrapper .feature-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  margin-bottom: 5%;
}

@media (max-width: 1050px) {
  .blog-main .blog-feature .wrapper .feature-about .about-photo {
    padding: 10%;
    background-color: #B9DDE7;
  }
}

@media (max-width: 1050px) {
  .blog-main .blog-feature .wrapper .feature-about .about-photo img {
    border: 10px solid #F6F6F6;
  }
}

.blog-main .blog-feature .wrapper .feature-about .about-content {
  padding-top: 5%;
}

.blog-main .blog-feature .wrapper .feature-about .about-content a {
  color: #68B0C1;
}

.blog-main .blog-post .wrapper {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-main .blog-post .wrapper .post-content {
  padding: 30px;
  margin-bottom: 5%;
  border-bottom: 5px solid #227284;
}

.blog-main .blog-post .wrapper .post-comments ul li {
  padding: 30px;
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 680px) {
  .blog-main .blog-post .wrapper .post-comments ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog-main .blog-post .wrapper .post-comments ul li:nth-of-type(2) {
  border-bottom: 5px solid #227284;
}

.blog-post .post-comments ul li .comments-photo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 970px) {
  .blog-post .post-comments ul li .comments-photo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 90px;
        flex-basis: 90px;
  }
}

@media (max-width: 680px) {
  .blog-post .post-comments ul li .comments-photo {
    padding: 20%;
    background-color: #B9DDE7;
    margin-bottom: 5%;
  }
}

@media (max-width: 680px) {
  .blog-post .post-comments ul li .comments-photo img {
    border: 10px solid #F6F6F6;
  }
}

.blog-post .post-comments ul li .comments-content {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  padding-left: 2%;
}

@media (max-width: 970px) {
  .blog-post .post-comments ul li .comments-content {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}

.blog-post .post-comments ul li .comments-content p {
  margin-top: 0;
  text-align: left;
}

@media (max-width: 970px) {
  .blog-post .post-comments ul li .comments-content p {
    width: 100%;
    padding-left: 4%;
  }
}

@media (max-width: 680px) {
  .blog-post .post-comments ul li .comments-content p {
    padding-left: 0;
  }
}

.page-form {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-form .form-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5%;
  height: 50px;
}

.page-form .form-names .name,
.page-form .form-names .email {
  width: 50%;
}

.page-form .form-names .name input,
.page-form .form-names .email input {
  width: 100%;
  height: 100%;
  padding-left: 2%;
}

.page-form .form-names .name {
  padding-right: 2.5%;
}

.page-form .form-comment {
  width: 100%;
  height: 200px;
}

.page-form .form-comment textarea {
  width: 100%;
  height: 100%;
}

.page-form .form-button {
  margin-top: 2%;
  width: 100%;
}

.page-form .form-button button {
  width: 100%;
}

.contact-banner {
  height: 40vh;
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-position: bottom center;
}

.contact-banner .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-banner h1 {
  width: 100%;
  margin: 0;
  position: relative;
  top: 40px;
}

@media (max-width: 480px) {
  .contact-banner h1 span {
    display: none;
  }
}

.contact-media {
  background-color: #F6F6F6;
}

.contact-media .wrapper {
  width: 100%;
  min-height: 52vh;
  padding-top: 80px;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1050px) {
  .contact-media .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-media .wrapper .info-wrapper {
  -webkit-box-flex: 1.1;
      -ms-flex: 1.1;
          flex: 1.1;
  height: 500px;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

@media (max-width: 1050px) {
  .contact-media .wrapper .info-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 2%;
  }
}

.contact-media .wrapper .info-wrapper .contact-info {
  margin-right: 30px;
  padding: 30px;
}

@media (max-width: 1050px) {
  .contact-media .wrapper .info-wrapper .contact-info {
    margin-right: 0;
    border-bottom: 5px solid #227284;
  }
}

@media (max-width: 1050px) {
  .contact-media .wrapper .info-wrapper .contact-info .info-content h3,
  .contact-media .wrapper .info-wrapper .contact-info .info-content p {
    text-align: center;
  }
}

.contact-media .wrapper .info-wrapper .contact-info .info-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 3%;
}

@media (max-width: 1050px) {
  .contact-media .wrapper .info-wrapper .contact-info .info-icons ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-media .wrapper .info-wrapper .contact-info .info-icons ul li {
  padding-right: 15%;
}

@media (max-width: 1050px) {
  .contact-media .wrapper .info-wrapper .contact-info .info-icons ul li {
    padding: 3%;
  }
}

.contact-media .wrapper .info-wrapper .contact-info .info-icons ul li a i {
  color: #227284;
}

.contact-form {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 500px;
}

@media (max-width: 1050px) {
  .contact-form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
}

.contact-form .page-form {
  height: 500px;
  padding-top: 0;
  margin-top: 0;
}

.contact-form .page-form form {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-form .page-form form .form-names {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 680px) {
  .contact-form .page-form form .form-names {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100px;
  }
}

@media (max-width: 680px) {
  .contact-form .page-form form .form-names .name {
    width: 100%;
    height: 50px;
    margin-bottom: 2%;
    padding-right: 0;
  }
}

@media (max-width: 680px) {
  .contact-form .page-form form .form-names .email {
    width: 100%;
    height: 50px;
  }
}

.contact-form .page-form form .form-comment {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.contact-form .page-form form .form-button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  color: #504646;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
  -webkit-transition: border 1s, -webkit-transform 1s;
  transition: border 1s, -webkit-transform 1s;
  transition: transform 1s, border 1s;
  transition: transform 1s, border 1s, -webkit-transform 1s;
}

p {
  font-family: "Cabin", sans serif;
  color: #504646;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 32px;
  color: #504646;
}

input,
textarea {
  text-decoration: none;
  border: none;
  padding: 1% 2%;
  font-family: "Cabin", sans serif;
  color: #504646;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 32px;
  resize: none;
}

button {
  text-decoration: none;
  border: none;
  background-color: #F38D8D;
  padding: 5px 20px;
  display: block;
  font-family: "Oswald", sans serif;
  color: #504646;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 32px;
  -webkit-transition: color 1s;
  transition: color 1s;
}

button:hover {
  color: #F6F6F6;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

@media (max-width: 680px) {
  li {
    text-align: center;
  }
}

a {
  text-decoration: none;
  font-family: "Oswald", sans serif;
  color: #504646;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 29px;
}

i {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

h1 {
  font-family: "Oswald", sans serif;
  color: #504646;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 92px;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "Oswald", sans serif;
  color: #504646;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: normal;
  padding: 0;
  margin: 0;
}

h3 {
  font-family: "Oswald", sans serif;
  color: #504646;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: normal;
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5%;
}

@media (max-width: 970px) {
  .wrapper {
    padding: 0 5%;
  }
}
